[class^="BUI-"],
[class*=" BUI-"] {
  box-sizing: border-box;
  font-family: -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial,
    "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC",
    "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti",
    SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
p {
  text-align: left;
}
body,
button,
input,
select,
textarea {
  font: 12px/1.5tahoma, arial, \5b8b\4f53;
}
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-size: 100%;
// }
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// 凹凸阴影函数和mixin
@function background2shadowL($color) {
  @if lightness($color) >= 50 {
    @return rgba(white, 70%);
  } @else {
    @return rgba(lighten($color, 45%), 6%);
  }
}
@function background2shadowD($color) {
  @if lightness($color) >= 50 {
    @return rgba(darken($color, 35%), 50%);
  } @else {
    @return rgba(black, 70%);
  }
}

@function surfaceShadow-concave-generator($angle, $color) {
  @return linear-gradient($angle, darken($color, 6%), lighten($color, 8%));
}

@function surfaceShadow-convex-generator($angle, $color) {
  @return linear-gradient($angle, lighten($color, 20%), darken($color, 12%));
}

@function directionToAngle($direction) {
  @if $direction == topLeft {
    @return 145deg;
  } @else if $direction == topRight {
    @return 225deg;
  } @else if $direction == bottomLeft {
    @return 45deg;
  } @else if $direction == bottomRight {
    @return 315deg;
  }
}

@function reverseDirection($direction) {
  @if $direction == topLeft {
    @return bottomRight;
  } @else if $direction == topRight {
    @return bottomLeft;
  } @else if $direction == bottomLeft {
    @return topRight;
  } @else if $direction == bottomRight {
    @return topLeft;
  }
}

@function shadow-light($direction, $color, $blur) {
  @if $direction == topLeft {
    @return (-$blur / 2) (-$blur / 2) $blur background2shadowL($color);
  } @else if $direction == topRight {
    @return ($blur / 2) (-$blur / 2) $blur background2shadowL($color);
  } @else if $direction == bottomLeft {
    @return (-$blur / 2) ($blur / 2) $blur background2shadowL($color);
  } @else if $direction == bottomRight {
    @return ($blur / 2) ($blur / 2) $blur background2shadowL($color);
  }
}

@function shadow-dark($direction, $color, $blur) {
  @if $direction == topLeft {
    @return ($blur / 2) ($blur / 2) $blur background2shadowD($color);
  } @else if $direction == topRight {
    @return (-$blur / 2) ($blur / 2) $blur background2shadowD($color);
  } @else if $direction == bottomLeft {
    @return ($blur / 2) (-$blur / 2) $blur background2shadowD($color);
  } @else if $direction == bottomRight {
    @return (-$blur / 2) (-$blur / 2) $blur background2shadowD($color);
  }
}

@function shadowD-oneWay($side, $color, $blur, $dol: dark) {
  $blurCoef: 1.6;
  @if $dol == light {
    @if $side == bottom {
      @return 0 ($blurCoef * $blur) ($blur) (-$blur) background2shadowL($color);
    } @else if $side == top {
      @return 0 ((-$blurCoef) * $blur) ($blur) (-$blur) background2shadowL($color);
    } @else if $side == right {
      @return ($blurCoef * $blur) 0 ($blur) (-$blur) background2shadowL($color);
    } @else if $side == left {
      @return ((-$blurCoef) * $blur) 0 ($blur) (-$blur) background2shadowL($color);
    }
  } @else if $dol == dark {
    @if $side == bottom {
      @return 0 ($blurCoef * $blur) $blur (-$blur) background2shadowD($color);
    } @else if $side == top {
      @return 0 ((-$blurCoef) * $blur) $blur (-$blur) background2shadowD($color);
    } @else if $side == right {
      @return ($blurCoef * $blur) 0 $blur (-$blur) background2shadowD($color);
    } @else if $side == left {
      @return ((-$blurCoef) * $blur) 0 $blur (-$blur) background2shadowD($color);
    }
  }
}

@function shadow-generator($direction, $color, $blur, $inset: false) {
  @if $inset {
    @return shadow-light($direction, $color, $blur) inset,
      shadow-dark($direction, $color, $blur) inset;
  } @else {
    @return shadow-light($direction, $color, $blur), shadow-dark($direction, $color, $blur);
  }
}

@function surface-generator($direction, $color, $type) {
  @if $type == concave {
    @return surfaceShadow-concave-generator(directionToAngle($direction), $color);
  } @else if $type == convex {
    @return surfaceShadow-convex-generator(directionToAngle($direction), $color);
  }
}

@function surface-shadow-generator($direction, $color, $blur) {
  @return shadow-generator(reverseDirection($direction), $color, $blur, true);
}

@mixin shadow($direction, $color, $blur, $inset: false) {
  box-shadow: shadow-generator($direction, $color, $blur, $inset);
}

@mixin surface($direction, $color, $type) {
  background-image: surface-generator($direction, $color, $type);
}

// 对比度函数

@function ContrastText($originColor) {
  @if (((lightness($originColor) >= 60%)) and saturation($originColor) <= 70%) or
    (lightness(grayscale($originColor)) >= 85%)
  {
    @return #333;
  } @else {
    @return #eee;
  }
}

@keyframes BUI-animation__spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@mixin spin {
  animation: spin 2s infinite linear;
}

.BUI-animation--fade {
  &-enter-active,
  &-leave-active {
    opacity: 1;
    transition: all 300ms ease-in-out;
  }
  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}

.BUI-animation--slide-left {
  &-enter-active,
  &-leave-active {
    opacity: 1;
    transition: all 300ms ease-in-out;
  }
  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

.BUI-animation--slide-bottom {
  &-enter-active,
  &-leave-active {
    opacity: 1;
    transition: all 300ms ease-in-out;
  }
  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateY(20%);
  }
}

.BUI-animation--slide-top {
  &-enter-active,
  &-leave-active {
    opacity: 1;
    transition: all 300ms ease-in-out;
  }
  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateY(-20%);
  }
}

$light-direction: topLeft !default;

$--border-radius--default: 8px !default;

$--blur-range: 8px !default;
$--blur-range-0: 12px !default;
$--blur-range-1: 10px !default;
$--blur-range-2: 8px !default;
$--blur-range-3: 6px !default;
$--blur-range-4: 4px !default;
$--blur-range-5: 2px !default;

$--color--background: darken(#eef1f3, 0%) !default;
$--font--size--big: 16px !default;
$--font--size--default: 14px !default;
$--font--size--medium: 13px !default;
$--font--size--small: 12px !default;
$--font--size--pager: $--font--size--default !default;

$--color--text--black: #292929 !default;
$--color--text--black-0: #292929 !default;
$--color--text--black-1: #363636 !default;
$--color--text--black-2: #464646 !default;
$--color--text--white: #eee !default;

$--color--default: $--color--background !default;
// $--color--primary: #5e5e5e !default;
$--color--primary: #ff9e5d !default;
$--color--secondary: #ffd6f3 !default;
$--color--danger: #f56c6c !default;
$--color--info: #909399 !default;
$--color--success: #c5e063 !default;
$--color--warning: #e6803c !default;
$--color--disabled: #ddd !default;
$--color--checked: #ff9e5d !default;
$--color--pager: #e6803c !default;
$--color--error: #f85555 !default;

$--common--block-padding: 8px !default;


$font-size: $--font--size--default;
$toast-min-height: 40px;
$toast-bg: rgba($--color--background, 0.95);
$box-shadow: shadow-generator($light-direction, $--color--background, $--blur-range-1);

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.BUI-Toast {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  $animation-duration: 300ms;
  z-index: 31;
  &__close {
    display: inline-flex;
    min-height: $toast-min-height;
    min-width: $toast-min-height;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: $--color--primary;
    cursor: pointer;
  }
  &__line {
    width: 1px;
    margin-left: 1em;
    @include shadow($light-direction, darken($--color--background, 5%), $--blur-range-5, true);
  }
  &.position-top {
    top: 0;
    .BUI-Toast__toast {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      animation: slide-down $animation-duration;
    }
  }
  &.position-bottom {
    bottom: 0;
    .BUI-Toast__toast {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      animation: slide-up $animation-duration;
    }
  }
  &.position-middle {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    .BUI-Toast__toast {
      animation: fade-in $animation-duration;
    }
  }
}
.BUI-Toast__toast {
  animation: fadeIn 1s;
  &-message {
    padding: 8px 0 8px 1em;
  }
  line-height: 1.8;
  border-radius: 8px;
  color: ContrastText($--color--background);
  padding: 0;
  font-size: $font-size;
  line-height: 1.8;
  min-height: $toast-min-height;
  display: flex;
  align-items: center;
  background: $toast-bg;
  box-shadow: $box-shadow;
}

@mixin loadingIndicator($color, $blur: $--blur-range-4, $textTheme: false) {
  .BUI-Button-Neo,
  .BUI-Button-Text {
    @if ($textTheme) {
    }
    &__loadingIndicator {
      height: 1em;
      width: 1em;
      display: inline-flex;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: auto;
      margin-right: 0.5em;
      position: relative;
      border-radius: 50%;
      background: linear-gradient(
        directionToAngle($light-direction),
        darken($color, 30%) 30%,
        lighten($color, 30%) 90%
      );
      animation: BUI-animation__spin 1000ms linear infinite;
      box-shadow: 0 0 ($blur / 2) rgba(lighten($color, 30%), 0.3);
      &-space {
        position: absolute;
        top: 2px;
        bottom: 2px;
        right: 2px;
        left: 2px;
        border-radius: 50%;
        z-index: 1;
        box-shadow: 0 0 ($blur / 2) rgba(lighten($color, 30%), 0.3) inset;
        background: $color;
      }
    }
    @if ($textTheme) {
      &__loadingIndicator {
        background: none;
        border-color: $color $color $color transparent;
        border-width: 2px;
        border-style: solid;
        &-space {
          background: none;
        }
      }
    }
  }
}

@mixin BUI-ButtonNeoTheme($color, $blur: $--blur-range) {
  &.surface-flat {
    background-color: $color;
  }
  &.surface-convex {
    // border: 1px solid surface-generator($light-direction, $color, concave);
    background-image: surface-generator($light-direction, $color, convex);
  }
  &.surface-concave {
    // border: 1px solid surface-generator($light-direction, $color, convex);
    background-image: surface-generator($light-direction, $color, concave);
  }
  &.body-convex {
    box-shadow: shadow-generator($light-direction, $--color--background, $blur, false);
  }
  &.body-concave {
    box-shadow: shadow-generator($light-direction, $color, $blur, true);
  }
  &.body-flat {
    box-shadow: none;
  }
}
.BUI-Button-Neo {
  padding: 0 1em;
  height: 3em;
  min-width: 3em;
  border-radius: 8px;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-self: center;
  outline: 0px;
  cursor: pointer;
  font-size: $--font--size--default;
  color: ContrastText($--color--default);
  @include BUI-ButtonNeoTheme($--color--default);
  @include loadingIndicator($--color--default, $--blur-range-4);
  transition: all 300ms;
  &[disabled] {
    cursor: not-allowed;
    color: lighten($--color--disabled, 20%);
    @include BUI-ButtonNeoTheme($--color--disabled);
    @include loadingIndicator($--color--disabled, $--blur-range-4);
  }
  &.rounded {
    height: 3em;
    min-width: 3em;
    border-radius: 1.5em;
  }
  &--primary {
    @extend .BUI-Button-Neo;
    color: ContrastText($--color--primary);
    @include BUI-ButtonNeoTheme($--color--primary);
    @include loadingIndicator($--color--primary, $--blur-range-4);
  }
  &--success {
    @extend .BUI-Button-Neo;
    color: ContrastText($--color--success);
    @include BUI-ButtonNeoTheme($--color--success);
    @include loadingIndicator($--color--success, $--blur-range-4);
  }
  &--info {
    @extend .BUI-Button-Neo;
    color: ContrastText($--color--info);
    @include BUI-ButtonNeoTheme($--color--info);
    @include loadingIndicator($--color--info, $--blur-range-4);
  }
  &--warning {
    @extend .BUI-Button-Neo;
    color: ContrastText($--color--warning);
    @include BUI-ButtonNeoTheme($--color--warning);
    @include loadingIndicator($--color--warning, $--blur-range-4);
  }
  &--danger {
    @extend .BUI-Button-Neo;
    color: ContrastText($--color--danger);
    @include BUI-ButtonNeoTheme($--color--danger);
    @include loadingIndicator($--color--danger, $--blur-range-4);
  }
  &--big {
    @extend .BUI-Button-Neo;
    font-size: $--font--size--big;
    height: 3em;
    padding: 0 1.5em;
    &.rounded {
      height: 3em;
      min-width: 3em;
      border-radius: 1.5em;
    }
  }
  &--medium {
    @extend .BUI-Button-Neo;
    font-size: $--font--size--medium;
    height: 2.75em;
    padding: 0 1em;
    &.rounded {
      height: 2.75em;
      min-width: 2.75em;
      border-radius: 1.375em;
    }
  }
  &--small {
    @extend .BUI-Button-Neo;
    font-size: $--font--size--small;
    height: 2.5em;
    padding: 0 0.75em;
    &.rounded {
      height: 2.5em;
      min-width: 2.5em;
      border-radius: 1.25em;
    }
  }
  &--mini {
    @extend .BUI-Button-Neo;
    font-size: $--font--size--small;
    height: 2.25em;
    padding: 0 0.75em;
    &.rounded {
      height: 2.25em;
      min-width: 2.25em;
      border-radius: 1.125em;
    }
  }
  .BUI-Button-Neo__content {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    margin: auto;
    .parting {
      display: inline-flex;
      height: 3em;
      width: 1px;
      margin: 0 0.75em;
      background: none;
      box-shadow: surface-shadow-generator($light-direction, $--color--background, $--blur-range-5);
      &--big {
        @extend .parting;
        height: 3em;
      }
      &--medium {
        @extend .parting;
        margin: 0 0.625em;
        height: 2.75em;
      }
      &--small {
        @extend .parting;
        margin: 0 0.5em;
        height: 2.5em;
      }
      &--mini {
        @extend .parting;
        margin: 0 0.325em;
        height: 2.25em;
      }
    }
  }
}

@mixin levelHover-andColor($background, $default: false) {
  color: confirmTextColorByBG($background, $default);
  border: 1px solid rgba(lighten($background, 10%), 0);
  &:hover {
    border: 1px solid rgba(lighten($background, 10%), 0.5);
    box-shadow: surface-shadow-generator(
      $light-direction,
      rgba(desaturate(lighten($background, 50%), 50%), 0.05),
      $--blur-range-1
    );
  }
  &:focus {
    border: 1px solid rgba(lighten($background, 10%), 0.5);
  }
}
@function confirmTextColorByBG($textColor, $default) {
  @if lightness($--color--background) >= 50% {
    @if $default == true {
      @return $--color--text--black;
    } @else {
      @return darken($textColor, 20%);
    }
  } @else {
    @if $default == true {
      @return $--color--text--white;
    } @else {
      @return lighten($textColor, 20%);
    }
  }
}
.BUI-Button-Text {
  padding: 0 1em;
  height: 3em;
  border-radius: 8px;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-self: center;
  outline: 0px;
  cursor: pointer;
  font-size: $--font--size--default;
  transition: all 300ms;
  border: 1px solid rgba(darken($--color--background, 20%), 0.1);
  @include levelHover-andColor($--color--background, true);
  @include loadingIndicator($--color--background, $--blur-range-4, true);
  background: none;
  &.rounded {
    height: 3em;
    min-width: 3em;
    border-radius: 1.5em;
  }
  &[disabled] {
    cursor: not-allowed;
    color: lighten($--color--disabled, 30%);
    @include levelHover-andColor($--color--disabled);
    @include loadingIndicator($--color--disabled, $--blur-range-4, true);
    &:hover {
      background: rgba($--color--disabled, 0.5);
      box-shadow: none;
    }
  }
  &--primary {
    @extend .BUI-Button-Text;
    @include levelHover-andColor($--color--primary);
    @include loadingIndicator($--color--primary, $--blur-range-4, true);
  }
  &--success {
    @extend .BUI-Button-Text;
    @include levelHover-andColor($--color--success);
    @include loadingIndicator($--color--success, $--blur-range-4, true);
  }
  &--info {
    @extend .BUI-Button-Text;
    @include levelHover-andColor($--color--info);
    @include loadingIndicator($--color--info, $--blur-range-4, true);
  }
  &--warning {
    @extend .BUI-Button-Text;
    @include levelHover-andColor($--color--warning);
    @include loadingIndicator($--color--warning, $--blur-range-4, true);
  }
  &--danger {
    @extend .BUI-Button-Text;
    @include levelHover-andColor($--color--danger);
    @include loadingIndicator($--color--danger, $--blur-range-4, true);
  }
  &--big {
    @extend .BUI-Button-Text;
    font-size: $--font--size--big;
    height: 3em;
    padding: 0 1.5em;
    &.rounded {
      height: 3em;
      min-width: 3em;
      border-radius: 1.5em;
    }
  }
  &--medium {
    @extend .BUI-Button-Text;
    font-size: $--font--size--medium;
    height: 2.75em;
    padding: 0 1em;
    &.rounded {
      height: 2.75em;
      min-width: 2.75em;
      border-radius: 1.375em;
    }
  }
  &--small {
    @extend .BUI-Button-Text;
    font-size: $--font--size--small;
    height: 2.5em;
    padding: 0 0.75em;
    &.rounded {
      height: 2.5em;
      min-width: 2.5em;
      border-radius: 1.25em;
    }
  }
  &--mini {
    @extend .BUI-Button-Text;
    font-size: $--font--size--small;
    height: 2.25em;
    padding: 0 0.75em;
    &.rounded {
      height: 2em;
      min-width: 2em;
      border-radius: 1em;
    }
  }
  .BUI-Button-Text__content {
    color: inherit;
    margin: auto;
    font-size: inherit;
    user-select: none;
    .parting {
      display: none;
      &--big {
        @extend .parting;
      }
      &--medium {
        @extend .parting;
      }
      &--small {
        @extend .parting;
      }
      &--mini {
        @extend .parting;
      }
    }
  }
}

@mixin BUI-ButtonNeoTheme--clicked($color, $blur: $--blur-range) {
  &.body-convex {
    box-shadow: shadow-generator($light-direction, $--color--background, $blur, false),
      shadow-generator($light-direction, $color, $blur, true);
  }
  &.body-concave {
    box-shadow: shadow-generator($light-direction, $color, $blur, true);
  }
  &.body-flat {
    box-shadow: shadow-generator($light-direction, $color, $blur, true);
  }
  &.surface-flat {
    background-image: surface-generator($light-direction, $color, concave);
  }
  &.surface-convex {
    background-image: surface-generator($light-direction, $color, convex);
  }
  &.surface-concave {
    background-image: surface-generator($light-direction, $color, concave);
  }
}
@mixin BUI-ButtonTextTheme--clicked($color) {
  background-image: surface-generator($light-direction, rgba(lighten($color, 10%), 0.3), concave);
  box-shadow: shadow-generator($light-direction, $color, $--blur-range-2, true);
}
.BUI-Button-Neo {
  &--clickDown {
    @include BUI-ButtonNeoTheme--clicked($--color--default, $--blur-range-3);
  }
  &--primary.BUI-Button-Neo--clickDown {
    color: ContrastText($--color--primary);
    @include BUI-ButtonNeoTheme--clicked($--color--primary, $--blur-range-3);
  }
  &--success.BUI-Button-Neo--clickDown {
    color: ContrastText($--color--success);
    @include BUI-ButtonNeoTheme--clicked($--color--success, $--blur-range-3);
  }
  &--info.BUI-Button-Neo--clickDown {
    color: ContrastText($--color--info);
    @include BUI-ButtonNeoTheme--clicked($--color--info, $--blur-range-3);
  }
  &--warning.BUI-Button-Neo--clickDown {
    color: ContrastText($--color--warning);
    @include BUI-ButtonNeoTheme--clicked($--color--warning, $--blur-range-3);
  }
  &--danger.BUI-Button-Neo--clickDown {
    color: ContrastText($--color--danger);
    @include BUI-ButtonNeoTheme--clicked($--color--danger, $--blur-range-3);
  }
}
.BUI-Button-Text {
  &--clickDown:hover {
    @include BUI-ButtonTextTheme--clicked($--color--default);
  }
  &--clickDown {
    @include BUI-ButtonTextTheme--clicked($--color--default);
  }
  &--primary.BUI-Button-Text--clickDown {
    @include BUI-ButtonTextTheme--clicked($--color--primary);
  }
  &--success.BUI-Button-Text--clickDown {
    @include BUI-ButtonTextTheme--clicked($--color--success);
  }
  &--info.BUI-Button-Text--clickDown {
    @include BUI-ButtonTextTheme--clicked($--color--info);
  }
  &--warning.BUI-Button-Text--clickDown {
    @include BUI-ButtonTextTheme--clicked($--color--warning);
  }
  &--danger.BUI-Button-Text--clickDown {
    @include BUI-ButtonTextTheme--clicked($--color--danger);
  }
}


.BUI-Button-Neo,
.BUI-Button-Text {
  & + & {
    margin-left: 8px;
  }
}

.BUI-Button-Neo + .BUI-Button-Text {
  margin-left: 8px;
}

.BUI-Switch {
  z-index: 0;
  display: inline-flex;
}

$h: 22px;
$h2: $h - 4px;

.BUI-Switch--normal {
  position: relative;
  height: $h;
  padding: 0;
  width: $h * 2;
  border: none;
  display: inline-flex;
  border-radius: $h/2;
  position: relative;
  z-index: -1;
  box-shadow: shadow-generator($light-direction, $--color--background, $--blur-range-3, true),
    shadow-generator($light-direction, $--color--background, $--blur-range-3, false);
  transition: background 250ms;
  @include surface($light-direction, $--color--background, concave);
  &:after {
    content: "";
    border-radius: $h/2;
    z-index: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: opacity 250ms;
    @include shadow($light-direction, $--color--checked, $--blur-range-4, true);
    @include surface($light-direction, $--color--checked, concave);
  }
  &:focus {
    outline: none;
  }
  > span {
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 2px;
    height: $h2;
    width: $h2;
    background: surface-generator($light-direction, lighten($--color--background, 10%), concave);
    border-radius: $h2/2;
    transition: left 250ms;
    @include shadow($light-direction, $--color--background, $--blur-range-4, false);
  }
  &.checked {
    &:after {
      opacity: 1;
    }
    > span {
      left: calc(100% - #{$h2} - 2px);
    }
  }
}
.BUI-Switch--flat {
  @extend .BUI-Switch--normal;
  @include shadow($light-direction, $--color--background, $--blur-range-4, true);
}

$h: 22px;
$gap: 2px;
$h2: $h - 2 * $gap;

.BUI-Switch-Retro {
  position: relative;
  min-width: $h * 2;
  min-height: $h;
  padding: $gap;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: $--color--background;
  padding: 0;
  z-index: -1;
  border-radius: $h/4;
  border: 0;
  outline: 0px;
  cursor: pointer;
  @include surface($light-direction, $--color--background, convex);
  @include shadow($light-direction, $--color--background, 6px, false);
  transition: all 250ms;
  cursor: pointer;
  &::after {
    content: "";
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: $h/4;
    @include surface($light-direction, $--color--checked, convex);
    transition: all 250ms;
  }
  &__handle {
    position: absolute;
    z-index: 1;
    inset: $gap;
    width: 2 * ($h2 + $gap);
    outline: none;
    border: none;
    @include surface(topRight, $--color--background, convex);
    border-radius: $h2/4;
    padding: 0;
    transition: all 250ms;
    &::after {
      content: "";
      position: absolute;
      opacity: 0;
      inset: 0;
      width: 2 * ($h2 + $gap);
      border-radius: $h2/4;
      @include surface(bottomRight, darken($--color--background, 10%), convex);
      transition: all 250ms;
    }
    &-item {
      position: absolute;
      top: $h2/2 - $h2/4;
      right: 2 * $gap/3;
      height: $h2/2;
      width: $gap/2;
      border-radius: $gap/2;
      background: darken($--color--background, 10%);
      transition: all 250ms;
    }
  }
  &.checked {
    &::after {
      opacity: 1;
    }
    .BUI-Switch-Retro__handle {
      &::after {
        opacity: 1;
      }
      &-item {
        z-index: 2;
        background: $--color--checked;
      }
    }
  }
  .BUI-Switch-Retro__shadow-cover {
    position: absolute;
    inset: $gap;
    z-index: -1;
    filter: drop-shadow(4px 4px 3px rgba($color: #000000, $alpha: 0.2))
      drop-shadow(-2px -4px 3px rgba($color: rgb(255, 255, 255), $alpha: 0.8));
    .BUI-Switch-Retro__shadow {
      z-index: -1;
      position: absolute;
      inset: $gap;
      clip-path: polygon(10% 20%, 100% 0, 100% 100%, 10% 80%);
      z-index: 2;
      background-color: rgba(255, 255, 255, 1);
    }
  }
}


$grey: darken($--color--background, 10%);

.BUI-table-wrapper {
  box-shadow: shadow-generator($light-direction, $--color--background, $--blur-range-0);
  border-radius: $--border-radius--default;
  overflow: hidden;
  ::-webkit-scrollbar {
    width: 1px;
  }
  ::-webkit-scrollbar-track {
    background: #f6f6f600;
    border-radius: 2px;
  }
  ::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 2px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #747474;
  }
  ::-webkit-scrollbar-corner {
    background: #f6f6f6;
  }
  .BUI-table-wrapper-inner {
    border-radius: $--border-radius--default;
  }
}
.BUI-table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0;
  border-bottom: 1px solid $grey;
  border-radius: $--border-radius--default;
  box-shadow: shadow-generator($light-direction, $--color--background, $--blur-range-0);
  th,
  td {
    border: none;
    word-break: break-all;
  }
  &-header {
    margin: 0;
  }
  &-copy {
    @extend .BUI-table;
    box-shadow: shadow-generator($light-direction, $--color--background, $--blur-range-3);
  }
  thead {
    border-radius: $--border-radius--default;
    background-color: lighten($--color--background, 5%);
    color: ContrastText($--color--background);
  }
  tr.descriptionTr {
    transition: all 0.3s;
    td.descriptionHolder {
      border: none;
    }
    td.description {
      border: none;
    }
  }
  &.bordered {
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
    td,
    th {
      border: 1px solid $grey;
    }
  }
  &.compact {
    td,
    th {
      padding: 4px;
    }
  }
  td,
  th {
    border-bottom: 1px solid $grey;
    text-align: left;
    padding: 8px;
  }
  &.striped {
    tbody {
      > tr {
        &:nth-child(even) {
          background: darken($--color--background, 5%);
        }
        &:nth-child(odd) {
          background: $--color--background;
        }
      }
    }
  }
  &-sorter {
    display: inline-flex;
    flex-direction: column;
    margin: 0 4px;
    cursor: pointer;

    svg.active {
      fill: red;
    }
    svg {
      width: 10px;
      height: 10px;
      fill: $--color--primary;
      &:first-child {
        position: relative;
        bottom: -1px;
      }
      &:nth-child(2) {
        position: relative;
        top: -1px;
      }
    }
  }
  &-header {
    display: flex;
    align-items: center;
  }
  &-wrapper {
    position: relative;
  }
  &-loading {
    position: absolute;
    background: rgba($--color--background, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      width: 100px;
      height: 100px;
      @include spin;
      fill: $grey;
    }
  }
  &-copy {
    position: absolute;
    top: 0;
    left: 0;
    background: lighten($--color--background, 5%);
  }
  &-expendIcon {
    width: 15px;
    height: 15px;
    fill: $--color--primary;
    position: relative;
    transition: all 0.3s;
    &.active {
      transform: rotate(90deg);
    }
  }
  & &-center {
    text-align: center;
  }
}
* {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.scroll-enter-active,
.scroll-leave-active {
  transition: all 0.3s;
}
.scroll-enter,
.scroll-leave-to {
  opacity: 0;
}

.BUI-Layout {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  &.hasSider {
    flex-direction: row;
  }
}

.header {
  height: 50px;
}
.footer {
  height: 100px;
}

.BUI-Layout-Aside {
  position: relative;
  &__actions {
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    padding: 5px;
    border: none;
    cursor: pointer;
    color: ContrastText($--color--background);
  }
}

.BUI-Content {
  flex: 1;
}

.BUI-Col {
  $class-prefix: col-;
  @for $n from 1 through 24 {
    &.#{$class-prefix}#{$n} {
      width: ($n/24) * 100%;
    }
  }
  $class-prefix: offset-;
  @for $n from 1 through 24 {
    &.#{$class-prefix}#{$n} {
      margin-left: ($n/24) * 100%;
    }
  }
  @media (min-width: 577px) {
    $class-prefix: col-pad-;
    @for $n from 1 through 24 {
      &.#{$class-prefix}#{$n} {
        width: ($n/24) * 100%;
      }
    }
    $class-prefix: offset-pad-;
    @for $n from 1 through 24 {
      &.#{$class-prefix}#{$n} {
        margin-left: ($n/24) * 100%;
      }
    }
  }
  @media (min-width: 769px) {
    $class-prefix: col-narrow-pc-;
    @for $n from 1 through 24 {
      &.#{$class-prefix}#{$n} {
        width: ($n/24) * 100%;
      }
    }
    $class-prefix: offset-narrow-pc-;
    @for $n from 1 through 24 {
      &.#{$class-prefix}#{$n} {
        margin-left: ($n/24) * 100%;
      }
    }
  }
  @media (min-width: 993px) {
    $class-prefix: col-pc-;
    @for $n from 1 through 24 {
      &.#{$class-prefix}#{$n} {
        width: ($n/24) * 100%;
      }
    }
    $class-prefix: offset-pc-;
    @for $n from 1 through 24 {
      &.#{$class-prefix}#{$n} {
        margin-left: ($n/24) * 100%;
      }
    }
  }
  @media (min-width: 1201px) {
    $class-prefix: col-wide-pc-;
    @for $n from 1 through 24 {
      &.#{$class-prefix}#{$n} {
        width: ($n/24) * 100%;
      }
    }
    $class-prefix: offset-wide-pc-;
    @for $n from 1 through 24 {
      &.#{$class-prefix}#{$n} {
        margin-left: ($n/24) * 100%;
      }
    }
  }
}

.BUI-Row {
  display: flex;
  flex-wrap: wrap;
  &.align-left {
    justify-content: flex-start;
  }
  &.align-right {
    justify-content: flex-end;
  }
  &.align-center {
    justify-content: center;
  }
}

.BUI-Waterfall {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  &__colItem {
    flex-shrink: 0;
  }
  &__item {
    width: 200px;
    position: absolute;
  }
}

.BUI-Selector {
  font-size: $--font--size--default;
  position: relative;
  order: 1px solid red;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  &-input {
    top: 3em;
    left: 0;
    height: 3em;
    width: 100%;
    font-size: inherit;
  }
  &-list-wrapper {
    overflow: hidden;
    position: absolute;
    height: 9em;
    z-index: 1;
    background: $--color--background;
    border-radius: $--border-radius--default;
    font-size: inherit;
    border: 1px solid lighten($--color--background, 10%);
    box-shadow: shadowD-oneWay(top, $--color--background, ($--blur-range-0 + 8px)) inset,
      shadowD-oneWay(bottom, $--color--background, ($--blur-range-0 + 4px)) inset;
  }
  &-list {
    top: 0;
    left: 0;
    width: 100%;
    font-size: inherit;
    border-radius: $--border-radius--default;
    &__item {
      font-size: inherit;
      color: ContrastText($--color--background);
      padding: calc(1em - 1px);
      line-height: 1;
      border-bottom: 1px solid rgba(ContrastText($--color--background), 0.1);
      border-top: 1px solid rgba(ContrastText($--color--background), 0.1);
      cursor: pointer;
      transition: all 300ms;
      &:hover {
        color: ContrastText(rgba($--color--primary, 0.5));
        background: rgba($--color--primary, 0.5);
        box-shadow: surface-shadow-generator($light-direction, $--color--primary, $--blur-range-0);
      }
    }
  }
}

$font-size: $--font--size--default;
$box-shadow-color: $--color--background;
$border-color-hover: darken($--color--background, 10%);

.BUI-Input__container {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: inherit;
  &--error-right {
    @extend .BUI-Input__container;
    flex-direction: row;
    align-items: center;
    .BUI-Input__error {
      margin-left: 6px;
      &-msg {
        color: $--color--primary;
      }
      &-icon {
        color: $--color--primary;
      }
    }
  }
  .BUI-Input__wrapper {
    display: inline-flex;
    position: relative;
    transition: all 0.3s;
    width: inherit;
    &::before {
      content: "";
      position: absolute;
      display: block;
      bottom: 0;
      opacity: 0;
      background-color: #888;
      left: 0;
      right: 0;
      height: 1px;
      transition: all 0.3s;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      bottom: 0;
      right: 50%;
      left: 50%;
      height: 2px;
      opacity: 0;
      background-color: $--color--primary;
      transition: all 0.3s;
    }
    .BUI-Input {
      width: 100%;
      transition: all 0.3s;
      background: rgb(245, 245, 245);
      border: 1px solid #e1e1e1;
      padding: 18px 6px 6px 6px;
      font: inherit;
      line-height: 24px;
      border-radius: 0;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      box-shadow: none;
      color: ContrastText($--color--background);
      box-shadow: shadow-generator($light-direction, $--color--background, $--blur-range-2, false);
      transition: all 300ms;
      &__label {
        display: inline-flex;
        position: absolute;
        color: #666;
        top: 6px;
        font-size: 14px;
        transform: translateY(30%) scale(1);
        transform-origin: left top;
        bottom: 6px;
        transition: all 0.3s;
        left: 6px;
        &--active {
          @extend .BUI-Input__label;
          transform: translateY(0px) scale(0.75);
          color: $--color--primary;
        }
      }
    }
    &:hover {
      &::before {
        opacity: 1;
      }
      .BUI-Input {
        background: $--color--background;
      }
    }
    &:focus-within,
    &.focused {
      &::after {
        right: 0;
        left: 0;
        opacity: 1;
      }
      .BUI-Input {
        background: $--color--background;
        &:hover {
          border-color: $border-color-hover;
        }
        &:focus {
          box-shadow: shadow-generator(
              $light-direction,
              $--color--background,
              $--blur-range-2,
              true
            ),
            shadow-generator($light-direction, $--color--background, $--blur-range-3, false);
          outline: none;
        }
        &[disabled],
        &[readonly] {
          border-color: rgba(0, 0, 0, 0.3);
          color: rgba(0, 0, 0, 0.5);
          cursor: not-allowed;
        }
        &__label {
          @extend .BUI-Input__label;
          transform: translateY(0px) scale(0.75);
          color: $--color--primary;
        }
      }
    }
    &.noLabel {
      .BUI-Input {
        padding: 6px;
      }
    }
  }
  .BUI-Input__wrapper--standard {
    @extend .BUI-Input__wrapper;
    &:focus-within {
      .BUI-Input {
        box-shadow: 0 0 3px 0 fade-out($--color--primary, $amount: 1);
        transition: box-shadow border-color 0.3s;
        border-color: #e1e1e1;
        &:focus {
          border-color: lighten($color: $--color--primary, $amount: 0.5);
          box-shadow: 0 0 3px 0
            fade-out($color: lighten($color: $--color--primary, $amount: 0.5), $amount: 0.3);
        }
      }
    }
    .BUI-Input {
      border-radius: 8px;
    }
    &::before {
      display: none;
    }
    &::after {
      display: none;
    }
  }
  .BUI-Input__error {
    margin-top: 4px;
    &-msg {
      color: $--color--primary;
    }
    &-icon {
      color: $--color--primary;
    }
  }
}

.BUI-Nav {
  color: ContrastText($--color--background);
  display: flex;
  border-radius: $--border-radius--default;
  box-shadow: shadow-generator(
    $light-direction,
    $--color--background,
    $--border-radius--default,
    false
  );
  background: $--color--background;
  cursor: pointer;
  user-select: none;
  &.vertical {
    flex-direction: column;
  }
}

.BUI-Nav-Item {
  padding: 10px 20px;
  position: relative;
  border-radius: $--border-radius--default;
  color: ContrastText($--color--background);
  &:not(.vertical) {
    &.selected {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        border-bottom: 2px solid ContrastText($--color--background);
        width: 100%;
      }
    }
  }
  &.vertical {
    &.selected {
      color: $--color--primary;
    }
  }
}
a {
  color: inherit;
  text-decoration: none;
}
.BUI-Sub-Nav .BUI-Nav-Item:not(.vertical) {
  &.selected {
    color: $--color--primary;
    &::after {
      display: none;
    }
  }
}

.BUI-animation--slide-top {
  &-enter-active,
  &-leave-active {
    opacity: 1;
    transition: all 300ms ease-in-out;
  }
  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateY(-20%);
  }
}

.BUI-Sub-Nav {
  position: relative;
  border-radius: $--border-radius--default;
  &:not(.vertical) {
    &.active {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        border-bottom: 2px solid darken($--color--background, 10%);
        width: 100%;
      }
    }
  }
  &__label {
    padding: 10px 20px;
    display: block;
    border-radius: $--border-radius--default;
  }
  &__icon {
    display: none;
  }
  &__popover {
    margin-top: 8px;
    background: $--color--background;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: shadow-generator($light-direction, $--color--background, $--blur-range-4, false);
    white-space: nowrap;
    border-radius: $--border-radius--default;
    font-size: $--font--size--default;
    color: $--color--primary;
    min-width: 8em;
    transition: all 0.3s;
    &.vertical {
      position: static;
      border-top: 1px solid darken($--color--background, 10%);
      border-bottom: 1px solid darken($--color--background, 10%);
      transition: all 0.3s;
      overflow: hidden;
    }
  }
}
.BUI-Sub-Nav .BUI-Sub-Nav {
  &.active {
    &::after {
      display: none;
    }
  }
  .BUI-Sub-Nav__popover {
    top: 0;
    left: 100%;
    margin-left: 8px;
    &.vertical {
      margin-left: 0;
    }
  }
  .BUI-Sub-Nav__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .BUI-Sub-Nav__icon {
    display: inline-flex;
    margin-left: 1em;
    transition: transform 0.3s;
    svg {
      fill: $--color--primary;
    }
    &.vertical {
      transform: rotate(90deg);
      &.open {
        transform: rotate(270deg);
      }
    }
    &.open {
      transform: rotate(180deg);
    }
  }
}

.BUI-Scroll {
  transition: transform 0.05s ease;
  &-wrapper {
    overflow: hidden;
    position: relative;
  }
  &__track {
    position: absolute;
    top: 8px;
    right: 0;
    bottom: 8px;
    width: 10px;
    border-radius: 5px;
    background: darken($--color--background, 5%);
    opacity: 0.8;
    box-shadow: shadow-generator($light-direction, $--color--background, $--blur-range-5, true);
  }
  &__bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    padding: 0px 1px 16px 1px;
    &--inner {
      width: 100%;
      height: 100%;
      background: rgba(lighten(ContrastText($--color--background), 10%), 0.75);
      width: 8px;
      border-radius: 4px;
      transition: box-shadow 300ms;
      &:hover {
        box-shadow: surface-shadow-generator(
          $light-direction,
          $--color--background,
          $--blur-range-5
        );
      }
    }
  }
}
.BUI-animation--fade {
  &-enter-active,
  &-leave-active {
    opacity: 1;
    transition: all 300ms ease-in-out;
  }
  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}

.BUI-Icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.BUI-Popover {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.BUI-Popover-content__wrapper {
  position: absolute;
  border-radius: 8px;
  border: 1px solid darken($--color--background, 10%);
  filter: drop-shadow(0 0 2px background2shadowD($--color--background));
  max-width: 20em;
  word-break: break-all;
  padding: 0.5em 1em;
  background: surface-generator($light-direction, $--color--background, convex);
  z-index: 1;
  &::before,
  &::after {
    content: "";
    clip-path: polygon(0% 0%, 30% 100%, 100% 0%);
    display: block;
    width: 15px;
    height: 10px;
    background: $--color--background;
    position: absolute;
  }
  &.position-top {
    margin-top: -10px;
    transform: translateY(-100%);
    &::before,
    &::after {
      left: 10px;
      top: 100%;
    }
    &::after {
      background: $--color--background;
      top: calc(100% - 1px);
    }
  }
  &.position-left {
    transform: translateX(-100%);
    margin-left: -10px;
    &::before,
    &::after {
      clip-path: polygon(0% 0%, 100% 30%, 0% 100%);
      top: 5px;
      left: 100%;
      width: 10px;
      height: 15px;
    }
    &::after {
      background: $--color--background;
      left: calc(100% - 1px);
    }
  }
  &.position-right {
    margin-left: 20px;
    &::before,
    &::after {
      clip-path: polygon(100% 0%, 0% 30%, 100% 100%);
      top: 5px;
      right: 100%;
      width: 10px;
      height: 15px;
    }
    &::after {
      background: $--color--background;
      right: calc(100% - 1px);
    }
  }
  &.position-bottom {
    margin-top: 10px;
    &::before,
    &::after {
      bottom: 100%;
      clip-path: polygon(0% 100%, 30% 0%, 100% 100%);
    }
    &::after {
      background: $--color--background;
      bottom: calc(100% - 1px);
    }
  }
}

.BUI-Popover-animation--slide {
  &-top {
    &-enter-active,
    &-leave-active {
      transition: all 300ms ease;
      transform: translateY(-100%);
    }
    &-enter-from,
    &-leave-to {
      opacity: 0;
      transform: translateY(-120%);
    }
  }
  &-bottom {
    &-enter-active,
    &-leave-active {
      transition: all 300ms ease;
      transform: translateY(0);
    }
    &-enter-from,
    &-leave-to {
      opacity: 0;
      transform: translateY(10%);
    }
  }
  &-right {
    &-enter-active,
    &-leave-active {
      transition: all 300ms ease;
      transform: translateX(0);
    }
    &-enter-from,
    &-leave-to {
      opacity: 0;
      transform: translateX(10%);
    }
  }
  &-left {
    &-enter-active,
    &-leave-active {
      transition: all 300ms ease;
    }
    &-enter-from,
    &-leave-to {
      opacity: 0;
      transform: translateX(-150%);
    }
  }
}

.BUI-Sticky {
  &--sticky {
    position: fixed;
    z-index: 1;
  }
}

.BUI-Dialog {
  &-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    z-index: 30;
  }
  &-overlay {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    z-index: 0;
    background: rgba(darken($--color--background, 5%), 0.7);
  }
  &-modal {
    position: relative;
    margin: 15vh auto 50px auto;
    background: $--color--background;
    border-radius: 8px;
    box-sizing: border-box;
    z-index: 1;
    width: 30%;
    @include shadow($light-direction, darken($--color--background, 20%), $--blur-range-0);
    @media (max-width: 900px) {
      width: calc(100% - 32px);
    }
    &-content {
      &__header {
        padding: 20px 20px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid darken($--color--background, 10%);
      }
      &__main {
        padding: 30px 20px;
        word-break: break-all;
      }
      &__footer {
        text-align: right;
        padding: 10px 20px;
        border-top: 1px solid darken($--color--background, 10%);
        // &-action {
        // }
      }
    }
  }
}

.BUI-Dialog-animation--fade {
  &-enter-active,
  &-leave-active {
    transition: all 300ms ease;
  }
  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}

.BUI-Dialog-animation--slide-fade {
  &-enter-active,
  &-leave-active {
    transition: all 300ms ease;
    transform: translateY(0);
  }
  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateY(-20%);
  }
}

@function navOneSideShadow($color) {
  @if $light-direction == topLeft {
    @return shadowD-oneWay(right, $--color--background, $--blur-range-2);
  } @else if $light-direction == topRight {
    @return shadowD-oneWay(left, $--color--background, $--blur-range-2);
  } @else if $light-direction == bottomRight {
    @return shadowD-oneWay(right, $--color--background, $--blur-range-2, light);
  } @else if $light-direction == bottomLeft {
    @return shadowD-oneWay(left, $--color--background, $--blur-range-2, light);
  }
}

.BUI-Tabs {
  width: 100%;
  &-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    &__item {
      display: inline-flex;
      padding: 16px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      cursor: pointer;
      user-select: none;
      border-bottom: 1px solid $--color--background;
      transition: all 300ms;
      // & + & {
      //   margin-left: 1em;
      // }
      &.disabled {
        color: $--color--disabled;
        cursor: not-allowed;
      }
      &-indicator {
        position: absolute;
        height: 2px;
        background: $--color--checked;
        border-radius: 1px;
        left: 0;
        bottom: -1px;
        width: 100px;
        box-shadow: 0 0 $--blur-range-5 rgba($--color--checked, 0.25),
          shadow-generator($light-direction, $--color--checked, $--blur-range-5, true);
        transition: all 300ms;
      }
      &--selected {
        @extend .BUI-Tabs-nav__item;
        color: $--color--checked;
        background: $--color--background;
        border-bottom: 1px solid darken($--color--background, 10%);
        box-shadow: shadow-light($light-direction, $--color--background, $--blur-range-0),
          navOneSideShadow($--color--background);
      }
    }
  }
  &-content {
    @include shadow($light-direction, $--color--background, $--blur-range-0);
    background: $--color--background;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 16px;
    transition: all 300ms;
    &__item {
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      display: none;
    }
    &--selected {
      @extend .BUI-Tabs-content__item;
      display: flex;
    }
  }
}

.BUI-Tabs-animation--slide-fade {
  &-enter-active,
  &-leave-active {
    transition: all 300ms ease;
    transform: translateY(0);
  }
  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateY(-5%);
  }
}

.BUI-Collapse {
  width: 100%;
  padding: 16px;
  background: $--color--background;
  border-radius: $--border-radius--default;
  @include shadow($light-direction, $--color--background, $--blur-range-0);
}

.BUI-Collapse-Item {
  transition: all 300ms;
  &__title {
    color: lighten(ContrastText($--color--background), 5%);
    font-size: 16px;
    min-height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 8px;
    cursor: pointer;
    border-bottom: 1px solid darken($--color--background, 5%);
    transition: all 300ms;
    &-icon {
      width: 1em;
      height: 1em;
      transition: all 300ms;
    }
    &--open {
      @extend .BUI-Collapse-Item__title;
      color: $--color--primary;
      transition: all 300ms;
      border: none;
      svg {
        transform: rotate(90deg);
      }
    }
  }
  &__content {
    color: lighten(ContrastText($--color--background), 10%);
    border-bottom: 1px solid darken($--color--background, 5%);
    padding: 0 8px 16px;
  }
}
.animation--fade {
  &-enter-active,
  &-leave-active {
    opacity: 1;
    height: 100%;
    transition: all 300ms ease-in-out;
  }
  &-enter-from,
  &-leave-to {
    opacity: 0;
    height: 0;
  }
}

@function confirmTextColorByBG($textColor, $default) {
  @if lightness($--color--background) >= 50% {
    @if $default == true {
      @return $--color--text--black;
    } @else {
      @return darken($textColor, 20%);
    }
  } @else {
    @if $default == true {
      @return $--color--text--white;
    } @else {
      @return lighten($textColor, 20%);
    }
  }
}

$--color--default-pager-color: #009688;
.BUI-pager {
  $width: 1.5em;
  $height: 1.5em;
  $font-size: $--font--size--pager;
  font-style: normal;
  display: flex;
  user-select: none;
  justify-content: flex-start;
  align-items: center;
  transition: all 300ms;
  &.hide {
    display: none;
  }
  &-nav {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: $height;
    width: $width;
    font-size: $font-size;
    margin: 0 4px;
    cursor: pointer;
    transition: box-shadow 300ms;
    &:hover {
      box-shadow: surface-shadow-generator($light-direction, $--color--pager, $--blur-range-3),
        shadow-generator($light-direction, $--color--pager, $--blur-range-4);
    }
    svg {
      fill: $--color--pager;
    }
    &.disabled {
      cursor: default;
      &:hover {
        box-shadow: none;
      }
      svg {
        fill: $--color--disabled;
      }
    }
  }
  &-separator {
    width: $width;
    font-size: $font-size;
    fill: $--color--pager;
  }
  &-item {
    color: $--color--pager;
    border-radius: $height / 4;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: $width;
    height: $height;
    padding: 4px;
    margin: 0 4px;
    font-size: $font-size;
    transition: all 300ms;
    cursor: pointer;
    &.separator {
      &:hover {
        user-select: none;
        cursor: auto;
      }
    }
    &.current {
      color: ContrastText($--color--pager);
      font-weight: bold;
      border-radius: $height / 4;
      transition: all 300ms;
      @include surface($light-direction, $--color--pager, convex);
      @include shadow($light-direction, $--color--pager, $--blur-range-4);
    }
    &:hover {
      box-shadow: surface-shadow-generator($light-direction, $--color--pager, $--blur-range-3),
        shadow-generator($light-direction, $--color--pager, $--blur-range-4);
    }
    &.current:hover {
      @include surface($light-direction, $--color--pager, concave);
      @include shadow($light-direction, $--color--pager, $--blur-range-5);
      user-select: none;
      cursor: auto;
    }
  }
}

$border-radius: $--border-radius--default;
.BUI-animation--slide-bottom {
  &-enter-active,
  &-leave-active {
    opacity: 1;
    transition: all 300ms ease-in-out;
  }
  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateY(10%);
  }
}
.BUI-Cascader {
  display: inline-block;
  position: relative;
  &__trigger {
    display: inline-flex;
    align-items: center;
    min-width: 10em;
  }
  &__popover-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    margin-top: 8px;
    z-index: 1;
    border-radius: $--border-radius--default;
    & + & {
      margin-left: 1em;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.BUI-animation--slide-bottom {
  &-enter-active,
  &-leave-active {
    opacity: 1;
    transition: all 300ms ease-in-out;
  }
  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateY(10%);
  }
}
.BUI-animation--fade {
  &-enter-active,
  &-leave-active {
    opacity: 1;
    transition: all 300ms ease-in-out;
  }
  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}
.BUI-Cascader-Items {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  height: 100px;
  background: $--color--background;
  border-radius: $--border-radius--default;
  box-shadow: shadow-generator($light-direction, $--color--background, $--blur-range-1, false);
  &::-webkit-scrollbar {
    width: 2px;
  }
  &::-webkit-scrollbar-track {
    background: #f6f6f600;
    border-radius: 1px;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba($--color--background, 0.5);
    border-radius: 1px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #747474;
  }
  &::-webkit-scrollbar-corner {
    background: $--color--background;
  }
  &__left {
    width: auto;
    padding: 0.3em 0;
    overflow: auto;
    border-radius: $--border-radius--default;
    height: 100%;
    background: $--color--background;
    box-shadow: shadow-generator($light-direction, $--color--background, $--blur-range-3, false);
  }
  &__right {
    width: auto;
    overflow: auto;
    border-radius: $--border-radius--default;
    margin-left: 1em;
    height: 100%;
    background: $--color--background;
    box-shadow: shadow-generator($light-direction, $--color--background, $--blur-range-3, false);
  }
  &__label {
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
    transition: all 300ms;
    color: ContrastText($--color--background);
    &.active {
      color: $--color--primary;
    }
    &:hover {
      background: darken($--color--background, 5%);
    }
    > .BUI-Cascader-Items__name {
      margin-right: 1em;
      user-select: none;
    }
    .BUI-Cascader-Items__icon {
      margin-left: auto;
      .next {
        transform: scale(0.5);
      }
      .loading {
        animation: spin 2s infinite linear;
      }
    }
  }
}

$border-radius: $--border-radius--default;
.BUI-DatePicker {
  &-pop {
    padding: 16px 16px 0 16px;
  }
  &-nav {
    display: flex;
  }
  &-popWrapper {
    padding: 0;
  }
  &-nav {
    &__prevYear-icon,
    &__prevMonth-icon,
    &__nextYear-icon,
    &__nextMonth-icon,
    &__yearAndMonth {
      width: 32px;
      height: 32px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      color: $--color--primary;
    }
    &__yearAndMonth {
      flex: 1;
      width: auto;
      color: ContrastText($--color--background);
    }
  }
  &-panel {
    &__content {
      &-selectMonth {
        .BUI-DatePicker-panel__content-selects {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 10em;
          span {
            color: ContrastText($--color--background);
            margin: 1em;
          }
        }
      }
      &-weekday,
      &-cell {
        width: 32px;
        height: 32px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
      &-week {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &day {
          color: ContrastText($--color--background);
        }
        &day--active {
          @extend .BUI-DatePicker-panel__content-weekday;
          color: $--color--primary;
        }
      }
      &-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &-cell {
        color: mix($--color--disabled, grey, 20%);
        cursor: not-allowed;
        border-radius: $border-radius;
        transition: all 300ms;
        &.currentMonth {
          color: ContrastText($--color--background);
          &:hover {
            background: $--color--primary;
            box-shadow: surface-shadow-generator(
                $light-direction,
                $--color--primary,
                $--blur-range-3
              ),
              shadow-generator($light-direction, $--color--background, $--blur-range-3, false);
            cursor: pointer;
            color: white;
          }
        }
        &.today {
          background: $--color--background;
          box-shadow: shadow-generator(
            $light-direction,
            $--color--background,
            $--blur-range-0,
            true
          );
        }
        &.selected {
          color: ContrastText(mix($--color--primary, $--color--background, 70%));
          border: 1px solid $--color--primary;
          background: mix($--color--primary, $--color--background, 70%);
          box-shadow: shadow-generator($light-direction, $--color--primary, $--blur-range-3, true);
        }
      }
    }
  }
  &-yearAndMonth {
    margin: auto;
  }
  &-selectMonth {
    width: 224px;
    height: 224px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &-selects {
  }
  &-returnToDayMode {
    margin-top: 8px;
  }
  &-actions {
    padding: 8px;
    text-align: right;
  }
  &-pickers {
    display: flex;
  }
  &-pickers &-picker1,
  &-pickers &-picker2 {
    flex-shrink: 0;
  }
  &-picker2 {
    margin-left: 16px;
  }
}
.BUI-animation--fade {
  &-enter-active,
  &-leave-active {
    opacity: 1;
    transition: all 300ms ease-in-out;
  }
  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}


