@import "./helper.scss";

$light-direction: topLeft !default;
$blur-range: 12px !default;

$--color--background: #f8f8f8 !default;

$--color--primary: #f8f8f8 !default;
$--color--danger: #ee6969 !default;
$--color--info: #b4b4b4 !default;
$--color--success: #c5e063 !default;
$--color--warning: #ff8b3d !default;
